/*------------------------------------------------------------------------------
	Setup
------------------------------------------------------------------------------*/

body {
	font-family: 'Comic Neue Angular Bold', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.25em;
	line-height: 1.25;
	font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
}

/*------------------------------------------------------------------------------
	Comic Neue
------------------------------------------------------------------------------*/

@font-face {
	font-family: 'Comic Neue Light';
	src: url('comic-neue-Light.eot');
	/* IE9 Compat Modes */
	src: url('comic-neue-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('comic-neue-light.woff') format('woff'), /* Modern Browsers */
	url('comic-neue-light.woff2') format('woff2'), /* Even Moderner Browsers */
	url('comic-neue-light.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: 100;
}
@font-face {
	font-family: 'Comic Neue Light Oblique';
	src: url('comic-neue-light-oblique.eot');
	/* IE9 Compat Modes */
	src: url('comic-neue-light-oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('comic-neue-light-oblique.woff') format('woff'), /* Modern Browsers */
	url('comic-neue-light-oblique.woff2') format('woff2'), /* Even Moderner Browsers */
	url('comic-neue-light-oblique.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: 100;
	font-style: oblique;
}
@font-face {
	font-family: 'Comic Neue Regular';
	src: url('comic-neue-regular.eot');
	/* IE9 Compat Modes */
	src: url('comic-neue-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('comic-neue-regular.woff') format('woff'), /* Modern Browsers */
	url('comic-neue-regular.woff2') format('woff2'), /* Even Moderner Browsers */
	url('comic-neue-regular.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: 300;
}
@font-face {
	font-family: 'Comic Neue Regular Oblique';
	src: url('comic-neue-regular-oblique.eot');
	/* IE9 Compat Modes */
	src: url('comic-neue-regular-oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('comic-neue-regular-oblique.woff') format('woff'), /* Modern Browsers */
	url('ComicNeue-regular-oblique.woff2') format('woff2'), /* Even Moderner Browsers */
	url('ComicNeue-regular-oblique.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: 300;
	font-style: oblique;
}
@font-face {
	font-family: 'Comic Neue Bold';
	src: url('comic-neue-bold.eot');
	/* IE9 Compat Modes */
	src: url('comic-neue-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('comic-neue-bold.woff') format('woff'), /* Modern Browsers */
	url('comic-neue-bold.woff2') format('woff2'), /* Even Moderner Browsers */
	url('comic-neue-bold.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: 700;
}
@font-face {
	font-family: 'Comic Neue Bold Oblique';
	src: url('comic-neue-bold-oblique.eot');
	/* IE9 Compat Modes */
	src: url('comic-neue-bold-oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('comic-neue-bold-oblique.woff') format('woff'), /* Modern Browsers */
	url('comic-neue-bold-oblique.woff2') format('woff2'), /* Even Moderner Browsers */
	url('comic-neue-bold-oblique.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: 700;
	font-style: oblique;
}

/*------------------------------------------------------------------------------
	Comic Neue Angular
------------------------------------------------------------------------------*/

@font-face {
	font-family: 'Comic Neue Angular Light';
	src: url('comic-neue-angular-light.eot');
	/* IE9 Compat Modes */
	src: url('comic-neue-angular-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('comic-neue-angular-light.woff') format('woff'), /* Modern Browsers */
	url('comic-neue-angular-light.woff2') format('woff2'), /* Even Moderner Browsers */
	url('comic-neue-angular-light.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: 100;
}
@font-face {
	font-family: 'Comic Neue Angular Light Oblique';
	src: url('comic-neue-angular-light-oblique.eot');
	/* IE9 Compat Modes */
	src: url('comic-neue-angular-light-oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('comic-neue-angular-light-oblique.woff') format('woff'), /* Modern Browsers */
	url('comic-neue-angular-light-oblique.woff2') format('woff2'), /* Even Moderner Browsers */
	url('comic-neue-angular-light-oblique.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: 100;
	font-style: oblique;
}
@font-face {
	font-family: 'Comic Neue Angular Regular';
	src: url('comic-neue-angular-regular.eot');
	/* IE9 Compat Modes */
	src: url('comic-neue-angular-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('comic-neue-angular-regular.woff') format('woff'), /* Modern Browsers */
	url('comic-neue-angular-regular.woff2') format('woff2'), /* Even Moderner Browsers */
	url('comic-neue-angular-regular.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: 300;
}
@font-face {
	font-family: 'Comic Neue Angular Regular Oblique';
	src: url('comic-neue-angular-regular-oblique.eot');
	/* IE9 Compat Modes */
	src: url('comic-neue-angular-regular-oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('comic-neue-angular-regular-oblique.woff') format('woff'), /* Modern Browsers */
	url('comic-neue-angular-regular-oblique.woff2') format('woff2'), /* Even Moderner Browsers */
	url('comic-neue-angular-regular-oblique.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: 300;
	font-style: oblique;
}
@font-face {
	font-family: 'Comic Neue Angular Bold';
	src: url('comic-neue-angular-bold.eot');
	/* IE9 Compat Modes */
	src: url('comic-neue-angular-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('comic-neue-angular-bold.woff') format('woff'), /* Modern Browsers */
	url('comic-neue-angular-bold.woff2') format('woff2'), /* Even Moderner Browsers */
	url('comic-neue-angular-bold.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: 700;
}
@font-face {
	font-family: 'Comic Neue Angular Bold Oblique';
	src: url('comic-neue-angular-bold-oblique.eot');
	/* IE9 Compat Modes */
	src: url('comic-neue-angular-bold-oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('comic-neue-angular-bold-oblique.woff') format('woff'), /* Modern Browsers */
	url('comic-neue-angular-bold-oblique.woff2') format('woff2'), /* Even Moderner Browsers */
	url('comic-neue-angular-bold-oblique.ttf') format('truetype');
	/* Safari, Android, iOS */
	font-weight: 700;
	font-style: oblique;
}
