/*------------------------------------------------------------------------------
	@media (max-width: 768px) - Home
------------------------------------------------------------------------------*/

@media (max-width: 768px) {
  .header .logo-1 img {
    width: 45%;
    height: 45%;
  }
  .header .logo-2 img {
    width: 45%;
    height: 45%;
  }
  .our-story {
    font-size: 0.813em;
  }
  .our-story #note {
    font-size: 1.125em;
  }
  .our-story .crumlin-logo-1 img {
    width: 40%;
    height: 40%;
  }
  .our-story .crumlin-logo-2 img {
    width: 45%;
    height: 45%;
  }
  .social-media #facebook {
  padding: 0 2% 10% 2%;
  }
  .social-media #twittter {
    padding: 10% 2% 0 2%;
  }
  .contact-us .form-group input.form-control {
    height: 40px;
  }
  .contact-us .form-group textarea.form-control {
    height: 40px;
  }
  .footer .map iframe {
    width: 100%;
    height: 200px;
  }
}

/*------------------------------------------------------------------------------
	@media (max-width: 768px) - Festival Info
------------------------------------------------------------------------------*/

@media (max-width: 768px) {
  .music #pod-prev {
    margin: 0 30% 0 0;
  }
  .music #pod-next {
    margin: -15% 0 0 30%;
  }
  .photo-gallery #img-prev {
    margin: 0 30% 0 0;
  }
  .photo-gallery #img-next {
    margin: -15% 0 0 30%;
  }
  .sponsors .video-1 iframe {
    width: 320px;
    height: 180px;
  }
  .previous-years .video-2 iframe {
    width: 320px;
    height: 180px;
  }
}
