@media(max-width:768px) {
  #logo {
		width: 80%;
		height: 10%;
	}

  .banner {
    height: 15%;
	}

  .welcome {
    height: 85%;
	}

	.festival-info {
		height: 190%;
	}

	.photo-gallery {
		height: 110%;
	}

  .contact-us {
  	height:105%;
  }

  section#contact-us .form-group input.form-control {
      height: 50px;
  }

  section#contact-us .form-group textarea.form-control {
      height: 100px;
  }

  .map {
  	height: 75%;
  }

  #back-to-top {
  	position:fixed;
  	left: 85%;
  }

  .music iframe {
  	width: 90%;
  	height: 375px;
  }
}
