/*------------------------------------------------------------------------------
	Global Styles
------------------------------------------------------------------------------*/

html, body {
  width: 100%;
  height: 100%;
}
.text-vertical-center {
  á display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-primary {
  color: rgba(255, 255, 255, 1);
}
.btn-dark {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 1);
  border-radius: 10;
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.7);
}
.btn-light {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(51, 51, 51, 1);
  border-radius: 10;
}
.btn-light:hover, .btn-light:focus, .btn-light:active {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(51, 51, 51, 1);
}
hr.small {
  max-width: 300px;
  border-top: 1px solid rgba(200, 200, 200, 0.5);
}

/*------------------------------------------------------------------------------
	Menu
------------------------------------------------------------------------------*/

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: rgba(34, 34, 34, 1);
  -webkit-transition: all .4s ease 0;
  -moz-transition: all .4s ease 0;
  -ms-transition: all .4s ease 0;
  -o-transition: all .4s ease 0;
  transition: all .4s ease 0;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  color: rgba(153, 153, 153, 1);
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 55px;
  font-size: 2em;
  line-height: 55px;
}
.sidebar-nav > .sidebar-brand a {
  color: rgba(153, 153, 153, 1);
}
.sidebar-nav > .sidebar-brand a:hover {
  color: rgba(255, 255, 255, 1);
  background: none;
}
#menu-toggle {
  z-index: 4;
  position: fixed;
  top: 1%;
  left: 1%;
  display: none;
}
#sidebar-wrapper.active {
  left: 250px;
  width: 250px;
  -webkit-transition: all .4s ease 0;
  -moz-transition: all .4s ease 0;
  -ms-transition: all .4s ease 0;
  -o-transition: all .4s ease 0;
  transition: all .4s ease 0;
}
.toggle {
  margin: 5px 5px 0 0;
}

/*------------------------------------------------------------------------------
Return and Back To Top Buttons
------------------------------------------------------------------------------*/

#return {
  z-index: 3;
  position: fixed;
  top: 1.75%;
  left: 5%;
  display: none;
}
#back-to-top {
  z-index: 2;
  position: fixed;
  bottom: 1%;
  right: 1%;
  display: none;
}

/*------------------------------------------------------------------------------
	Home
------------------------------------------------------------------------------*/

.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/cbf/cbf-header.jpg) no-repeat center center scroll;
  background: opacity: 0.5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.txt-title {
  color: rgba(255, 255, 255, 1);
}
.logo {
  width: 65%;
  height: 65%;
}
.our-story {
  width: 100%;
  height: 87%;
}
.our-story .crumlin-logo-1 {
  width: 30%;
  height: 30%;
}
.our-story .crumlin-logo-2 {
  width: 45%;
  height: 45%;
}
.our-story img:hover {
  opacity: 0.5;
}
.festival-info {
  background-color: rgba(34, 127, 187, 1);
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 87%;
}
.festival-info-item {
  margin: 2% 0 2% 0;
}
.social-media {
  width: 100%;
  height: 87%;
}
.contact-us {
  background-color: rgba(34, 127, 187, 1);
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 87%;
}
.contact-us .form-group {
  margin-bottom: 20px;
}
.contact-us .form-group input, section.contact-us .form-group textarea {
  padding: 20px;
}
.contact-us .form-group input.form-control {
  height: 85px;
}
.contact-us .form-group textarea.form-control {
  height: 295px;
}
.contact-us .form-control:focus {
  border-color: rgba(254, 209, 55, 1);
  box-shadow: none;
}
.contact-us::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: "Lovelo Black";
  font-weight: 700;
  color: rgba(187, 187, 187, 1);
}
.contact-us:-moz-placeholder {
  text-transform: uppercase;
  font-family: "Lovelo Black";
  font-weight: 700;
  color: rgba(187, 187, 187, 1);
}
.contact-us::-moz-placeholder {
  text-transform: uppercase;
  font-family: "Lovelo Black";
  font-weight: 700;
  color: rgba(187, 187, 187, 1);
}
.contact-us:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: "Lovelo Black";
  font-weight: 700;
  color: rgba(187, 187, 187, 1);
}
.contact-us .text-danger {
  color: rgba(231, 76, 60, 1);
}
.footer {
  width: 100%;
  height: 100%;
}
.map iframe {
  width: 100%;
  height: 225px;
}

/*------------------------------------------------------------------------------
	Festival Info
------------------------------------------------------------------------------*/

.top {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(51, 51, 51, 1);
  width: 100%;
  height: 35%;
}
.music {
  background-color: rgba(34, 127, 187, 1);
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 90%;
}
.music .link {
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}
.events-guide {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(51, 51, 51, 1);
  width: 100%;
  height: 137%;
}
.sponsors {
  background-color: rgba(34, 127, 187, 1);
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 90%;
}
.sponsors iframe {
  width: 640px;
  height: 360px;
}
.photo-gallery {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(51, 51, 51, 1);
  width: 100%;
  height: 90%;
}
.previous-years {
  background-color: rgba(34, 127, 187, 1);
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 215%;
}
.previous-years iframe {
  width: 960px;
  height: 540px;
}
