/*-----------------------------------------------------------------------------------------------------
                                                Global Styles
-----------------------------------------------------------------------------------------------------*/

html, body {
  width: 100%;
  height: 100%;
}
.text-vertical-center {
  á display: table-cell;
  text-align: center;
  vertical-align: middle;
}
hr.small {
  max-width: 300px;
  border-top: 1px solid rgba(200, 200, 200, 0.5);
}

/*-----------------------------------------------------------------------------------------------------
                                                    Main CSS
-----------------------------------------------------------------------------------------------------*/

/* Header */
.header {
  background-color: rgba(34, 187, 104, 1);
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 10%;
}

/* Section */
.section {
  background-color: rgba(34, 187, 104, 1);
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 40%;
}
.section a {
  color: rgba(255, 255, 255, 1);
}
.section a:hover {
  color: rgba(140, 140, 140, 1);
}

/* Footer */
.footer {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 50%;
}
.footer a {
  color: rgba(34, 187, 104, 1);
}
.footer a:hover {
  color: rgba(143, 121, 217, 1);
}
