/*------------------------------------------------------------------------------
	Custom CSS
------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------
	Global Styles
------------------------------------------------------------------------------*/

html, body {
	width: 100%;
	height: 100%;
}
.text-vertical-center {
	á display: table-cell;
	text-align: center;
	vertical-align: middle;
}
hr.small {
	max-width: 300px;
	border-top: 1px solid rgba(200, 200, 200, 0.5);
}

/*------------------------------------------------------------------------------
	Main CSS
------------------------------------------------------------------------------*/

.header {
	background-color: rgba(34, 187, 104, 1);
	color: rgba(255, 255, 255, 1);
	width: 100%;
	height: auto;
}
.section {
	background-color: rgba(34, 187, 104, 1);
	color: rgba(255, 255, 255, 1);
	width: 100%;
	height: auto;
}
.footer {
	background-color: rgba(255, 255, 255, 1);
	width: 100%;
	height: auto;
}
.footer a {
	color: rgba(34, 187, 104, 1);
}
.footer a:hover {
	color: rgba(143, 121, 217, 1);
}
footer .facebook a:hover {
	color: rgba(59, 89, 152, 1);
}
.footer .twitter a:hover {
	color: rgba(85, 172, 238, 1);
}
.footer .github a:hover {
	color: rgba(51, 51, 51, 1);
}
